[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imapclient = "*"
watchdog = "*"
openai = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
rich = "*"
docxtpl = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
pyyaml = "*"
dateparser = "*"
deep-translator = "*"
openpyxl = "*"
pymupdf = "*"
pdfplumber = "*"
notion-client = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
